
<!-- Navigation -->
	  <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav" style="background: rgba(98,119,97,.5);">
	    <div class="container">
	      <!-- <a class="navbar-brand" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Home</a> -->
	      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
	        Menu
	        <i class="fas fa-bars"></i>
	      </button>
	      <div class="collapse navbar-collapse" id="navbarResponsive">
	        <ul class="navbar-nav ml-auto">
	          <li class="nav-item">
	            <a class="nav-link js-scroll-trigger" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Life of Rizal</a>
	          </li>
	          <li class="nav-item" >
	            <a class="nav-link js-scroll-trigger" routerLink="/novels" routerLinkActive="active">Novels & Poems</a>
	          </li>
	          <li class="nav-item">
	            <a class="nav-link js-scroll-trigger" routerLink="/women" routerLinkActive="active">Rizal's Women</a>
	          </li>
	        </ul>
	      </div>
	    </div>
	  </nav>

	  <!-- Header -->
	  <header class="masthead">
	    <div class="container d-flex h-100 align-items-center">
	      <div class="mx-auto text-center">
	        <h1 class="mx-auto my-0 text-uppercase">José Rizal</h1>
	        <h2 class="text-light mx-auto mt-2 mb-5">A website about our own national hero.</h2>
	        <a href="#about" class="btn btn-primary js-scroll-trigger">Start Learning</a>
	      </div>
	    </div>
	  </header>

<!-- About Section -->
  <section id="about" class="about-section text-center">
    <div class="container">
      <div class="row">
        <div class="col">
          <img src="../assets/img/rizal.png" class="img-fluid" alt="">
        </div>
        <div class="col">
          <h2 class="text-white mb-4">Our National Hero</h2>
          <p class="text-white-50">José Rizal was born on June 19, 1861, in Calamba, Philippines. While living in Europe, Rizal wrote about the discrimination that accompanied Spain's colonial rule of his country. He returned to the Philippines in 1892, but was exiled due to his desire for reform. Although he supported peaceful change, Rizal was convicted of sedition and executed on December 30, 1896, at age 35.</p>
          <button type="button" class="btn btn-success" routerLink="/novels">Learn more</button>
        </div>
      </div>
    </div>
  </section>

  

  <!-- Signup Section -->
  <section id="signup" class="signup-section">
    <div class="container">
      <div class="row">
        <div class="col-md-10 col-lg-8 mx-auto text-center">

          <i class="far fa-paper-plane fa-2x mb-2 text-white"></i>
          <h2 class="text-white mb-5">Subscribe to receive updates!</h2>

          <form class="form-inline d-flex">
            <input type="email" class="form-control flex-fill mr-0 mr-sm-2 mb-3 mb-sm-0" id="inputEmail" placeholder="Enter email address...">
            <button type="submit" class="btn btn-primary mx-auto">Subscribe</button>
          </form>

        </div>
      </div>
    </div>
  </section>

  <!-- Contact Section -->
  <section class="contact-section bg-black">
    <div class="container">

      <div class="row">

        <div class="col-md-4 mb-3 mb-md-0">
          <div class="card py-4 h-100">
            <div class="card-body text-center">
              <i class="fas fa-map-marked-alt text-primary mb-2"></i>
              <h4 class="text-uppercase m-0">Address</h4>
              <hr class="my-4">
              <div class="small text-black-50">Technological University of the Philippines Ayala Blvd, Ermita, Manila, 1000 Metro Manila</div>
            </div>
          </div>
        </div>

        <div class="col-md-4 mb-3 mb-md-0">
          <div class="card py-4 h-100">
            <div class="card-body text-center">
              <i class="fas fa-envelope text-primary mb-2"></i>
              <h4 class="text-uppercase m-0">Email</h4>
              <hr class="my-4">
              <div class="small text-black-50">
                <a href="#">students@tup.edu.ph</a>
              </div>
            </div>
          </div>
        </div>

        <div class="col-md-4 mb-3 mb-md-0">
          <div class="card py-4 h-100">
            <div class="card-body text-center">
              <i class="fas fa-mobile-alt text-primary mb-2"></i>
              <h4 class="text-uppercase m-0">Phone</h4>
              <hr class="my-4">
              <div class="small text-black-50">+63 (02) 302 7750</div>
            </div>
          </div>
        </div>
      </div>

      <div class="social d-flex justify-content-center">
        <a href="https://www.fb.com/sethfrancis.siono" target="_blank" class="mx-2">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="https://www.github.com/Nevilstein/RIZAL" target="_blank" class="mx-2">
          <i class="fab fa-github"></i>
        </a>
      </div>

    </div>
  </section>

  <!-- Footer -->
  <footer class="bg-black small text-center text-white-50">
    <div class="container">
      Copyright &copy; Your Website 2019
    </div>
  </footer>
<script src="../../assets/vendor/jquery/jquery.min.js"></script>
  <script src="../../assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <!-- Plugin JavaScript -->
  <script src="../../assets/vendor/jquery-easing/jquery.easing.min.js"></script>

  <!-- Custom scripts for this template -->
  <script src="../../assets/js/grayscale.min.js"></script>